<section>

    <div class="container-xxl py-5 ">
        <div class="container py-5">
            <div class="testimonial-text g-5">
                <div class="wow d-flex justify-content-center align-items-center">
                    <h1 class="mb-4"> Clients Reviews </h1>
                </div>
            <!-- </section>End of Testimonial Here -->
    
          <div class="carousel-landmark wow fadeIn">
            <div id="carouselExampleCaptions" class="carousel slide testimonial-carousel border-start border-danger">
              <!-- <section>
                <div class="control-bar"></div>
            </section> -->
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner"><!--The Carousel Container-->
                  <div class="carousel-item carousel-item-1 active"><!--The Carousel item 1-->
                            <div class="testimonial-item ps-5">
                                <i class="bi bi-chat-square-quote fa-2x text-danger mb-3"></i>
                                <p class="fs-4 textimal-text">Super top notch customer support from - just throwing it out there if you're looking for a decent browser testing platform, they get my full double thumbs up. Thumbs upThumbs up</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded-circle" src="https://user-images.githubusercontent.com/78242022/266013790-4d674d96-a311-47c3-9b7c-03feaa36c948.png"
                                        style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <h5 class="mb-1">Ben Pritchard</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                <!-- Carousel Item 2 -->
                <div class="carousel-item carousel-item-2">
                            <div class="testimonial-item ps-5">
                                <i class="fa fa-quote-left fa-2x text-danger mb-3"></i>
                                <p class="fs-4 textimal-text"><em></em> is fantastic. Cross browser and device testingtesting frustration is minimized. You can’t get rid of clients that need ie11 nor can you own every device but lambda test bridge that gap.</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded-circle" src="https://user-images.githubusercontent.com/78242022/266013776-40ac50f1-31f8-4250-acb2-05f16d683baa.png"
                                        style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <h5 class="mb-1">Mat Gargano</h5>
                                        <span class="at"></span>
                                    </div>
                                </div>
                            </div><!--[end of card]-->
                        </div> <!--[carousel-item-2]-->
    
                <!-- Carousel Item 3 -->
                <div class="carousel-item carousel-item-2">
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-danger mb-3"></i>
                            <p class="fs-4 textimal-text">second-day using <em></em> and it's already proven itself a lot faster than Cross Browser Testing and BrowserStack, at half the price! bargain</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="https://user-images.githubusercontent.com/78242022/266013762-54201d6a-0923-4969-948c-790dec804253.png"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Matthew Bryson</h5>
                                    <span class="at"></span>
                                </div>
                            </div>
                        </div><!--[end of card]-->
                    </div>
                    
                    <!-- Control Buttons -->
                    <div class="control-btn">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <i class="bi bi-arrow-left"></i>
                          <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <i class="bi bi-arrow-right"></i>
                    
                          <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div><!--[carousel-item-3]-->
                </div>
    
            </div>
          </div>
    </div>
    </div>
    </div>
</section>
